body {
   background: #f1f1f1;
   margin: 0;
   padding: 0;
}

p {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*masthead*/

.masthead {
    box-sizing: border-box;
    padding: 2px 30px;
    width: 100%;
    height: 50px;
    background: #fff;
    border-bottom: 1px solid #e8e8e8;
}

.menu-logo-holder {
    float: left;
    padding: 4px;
}

.menu {
    display: inline-block;
    height: 33px;
    width: 33px;
    background: #fff;
    cursor: pointer;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -315px -161px;
    background-size: auto;
    border: none;
    
}

.logo {
    display: inline-block;
    height: 30px;
    width: 73px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -178px -227px;
    background-size: auto;
    cursor: pointer;
}

.search-holder {
    padding: 8px;
    float: left;
    width: 75%;
    padding-left: 75px;
    min-width: 650px;
    height: 31px;
}

.search-bar {
    box-sizing: border-box;
    float: left;
    width: 600px;
    height: 28px;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 6px;
    font-size: 16px;
}

.search-button {
    padding-left: 22px;
    display: inline-block;
    width: 65px;
    height: 28px;
    border: 1px solid #666;
    opacity: 0.5;
    cursor: pointer;
}

.search-button:hover {
    opacity: 1;
}

.search-image {
    width: 20px;
    height: 100%;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -690px -37px;
    background-size: auto;
}

.signIn-upload-holder {
    float: right;
    margin: 8px;
    width: 90px;
}


.upload {
    float: left;
    height: 30px;
    width: 30px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -106px -26px;
    background-size: auto;
    border: none;
    cursor: pointer;
}

.sign-in {
    float: right;
    width: 50px;
    height: 28px;
    border-radius: 2px;
    border: none;
    background-color: #167ac6;
    cursor: pointer;
}

.sign-in p {
    color: #fff;
    font-size: 10px;
    font-family: 'Roboto', arial, sans-serif;
}

.sign-in:hover {
    background-color: #146eb3;
}

/* main */

.video-position {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.video-holder {
    width: 854px;
    background-color: #fff;
    height: 480px;
    margin-bottom: 10px;
}

.embedded-video {
    width: 100%;
    height: 100%;
}

.video-info {
    box-sizing: border-box;
    width: 854px;
    background-color: #fff;
    height: 150px;
    margin-bottom: 10px;
    padding: 15px;
}

.vid-title {
    font-family: 'Roboto', arial, sans-serif;
    color: #333;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    font-size: 20px;
}

.up-next-holder {
    box-sizing: border-box;
    float: right;
    width: 416px;
    background-color: #fff;
    height: 1000px;
    padding: 12px 0px 10px 15px;
}

.up-next-top {
    padding-bottom: 12px;
    border-bottom: 1px solid #ccc;
}

.up-next-text {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', arial, sans-serif;
    color: #000;
    font-size: 13px;
    padding-right: 220px;
    padding-bottom: 12px;
    -webkit-margin-before: 2px;
}

.sidebar-video-wrapper {
    padding-top: 15px;
}

.link-holder {
    display: inline-block;
    vertical-align: top;
}

.autoplay-text {
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', arial, sans-serif;
    color: #333;
    font-size: 13px;
    padding-right: 3px;
    -webkit-margin-before: 2px;
}

.sidebar-icon-positioner {
    display: inline-block;
    padding-top: 4px;
}

.info-icon {
    display: inline-block;
    height: 14px;
    width: 14px;
    opacity: 0.5;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -565px -90px;
    background-size: auto;
    padding-right: 5px;
}

#autoplay-checkbox {
    display: none;
}

.checkbox-holder {
    display: inline-block;
    vertical-align: top;
    height: 14px;
    width: 37px;
    background-color: #167ac6;
    border-radius: 20px;
}

.checkbox-holder p {
    font-size: 11px;
    padding-left: 5px;
    color: #fff;
    width: 14px;
}

.toggle {
    box-sizing: border-box;
    float: right;
    vertical-align: top;
    height: 14px;
    width: 14px;
    border-radius: 14px;
    border: 1px solid #167ac6;
    margin-top: -15px;
    background-color: #fff;
}

.suggestion-info {
    width: 210px;
    display: inline-block;
    vertical-align: top;
    font-family: 'Roboto', arial, sans-serif;
    color: #333;
    font-size: 14px;
    font-weight: 800;
    text-align: left;
    text-decoration: none;
}

.suggestion-info-text {
    display: inline-block;
    vertical-align: top;
}

.sidebar-author, .sidebar-viewcount {
    font-size: 11px;
    font-weight: normal;
    display: block;
}

.suggestion-thumbnail {
    display: inline-block;
    padding-right: 5px;
}

.author-subscribe-views {
    vertical-align: top;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
}

.author-logo {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(https://yt3.ggpht.com/-UbUyULJMBoM/AAAAAAAAAAI/AAAAAAAAAAA/LGD8KPvBEdc/s88-c-k-no-mo-rj-c0xffffff/photo.jpg);
    background-size: contain;
}

.author-name {
    vertical-align: top;
    display: inline-block;
    font-family: 'Roboto', arial, sans-serif;
    color: #333;
    font-size: 13px;
    padding-left: 5px;
}

.author {
    font-weight: bold;
}

.subscriber-info {
    margin-top: 7px;
}

.subscribe {
    float: left;
    height: 24px;
    width: 89px;
    background-color: #e62117;
    color: #fff;
    border: none;
    padding: none;
    font-size: 12px;
    border-radius: 2px 0 0 2px;
}

.subscribe-text {
    padding-left: 22px;
}

.subscriber-count {
    display: inline-block;
    height: 12px;
    width: 20px;
    padding: 5px;
    padding-left: 6px;
    border: 1px solid #ccc;
    border-left: none;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 11px;
    color: #737373;
}

.views-holder {
    padding-top: 30px;
    padding-bottom: 7px;
    float: right;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 20px;
    border-bottom: 2px solid #167ac6;
}

.play {
    float: left;
    width: 16px;
    height: 12px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -721px -88px;
    background-size: auto;
}

.icon-holder {
    margin-top: 2px;
}

.icon-holder-button {
    width: 70px;
    height: 30px;
    vertical-align: top;
    background-color: #fff;
    padding: 0px;
    cursor: pointer;
    box-shadow: none;
    border: none;
    opacity: 0.5;
}

.icon-holder-icon {
    float: left;
    width: 20px;
    height: 20px;
    background-size: auto;
    text-align: left;
    margin-top: -3px;
}

.icon-holder-button:hover {
    opacity: 0.75;
}

button:nth-child(4), button:nth-child(5) {
    float: right;
    width: 55px;
}

.add-to {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -813px -232px;
}

.share {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -822px -88px;
}

.more {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -675px -148px;
}

.likes {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -775px -112px;
}

.dislikes {
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflXBOoAR.webp) -807px -200px;
}

.button-text {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 11px;
    color: #333;
    padding-right: 8px;
}
    

.share-holder {
    display: none;
    width: 854px;
    background-color: #fff;
    height: 100px;
    margin-bottom: 10px;
    padding: 15px;
    box-sizing: border-box;
}

.publish-info {
    box-sizing: border-box;
    width: 854px;
    max-width: 854px;
    background-color: #fff;
    height: 125px;
    margin-bottom: 10px;
    padding: 15px;
    font-family: 'Roboto', arial, sans-serif;
}

.publish-date {
    font-size: 13px;
    font-weight: bold;
    -webkit-margin-after: 0.25em;
}

.description-short {
    font-size: 13px;
    padding-bottom: 13px;
    border-bottom: 1px solid #ccc;
}

.show-more {
    width: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 11px;
    color: #666;
    padding-top: 10px;
}

.comments-holder {
    width: 854px;
    background-color: #fff;
    height: 200px;
    margin-bottom: 10px;
    box-sizing: border-box;
    padding: 15px;
}

.comments-header {
    font-family: 'Roboto', arial, sans-serif;
    color: #333;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0.5em;
    font-size: 15px;
}

.user-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(https://yt3.ggpht.com/-kTJC4W9ntl0/AAAAAAAAAAI/AAAAAAAAAAA/JMyTAszhEcY/s48-c-k-no-mo-rj-c0xffffff/photo.jpg);
    background-size: contain;
    margin-right: 15px;
}

.comments-input {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    width: 750px;
    height: 48px;
    border: 1px solid #ccc;
    padding: 6px;
}

.comment-placeholder {
    font-family: 'Roboto', arial, sans-serif;
    color: #333;
    -webkit-margin-before: 0em;
    font-size: 13px;
}